.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20rem 10rem;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  background-color: white;
}
